@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700');

// GENERAL STYLES
$font-family: 'Quicksand', sans-serif;

// COLORS
$white: white;
$white-100: #ebf1f4;
$purple: #952092;
$darkPurple: #5e1cad;
$lightBlue: #37ced5;
$green: #217384;
$blue: #42b7ce;
$darkBlue: #093980;
$lightGray: #d4dee8;
$darkGray: dimgray;
$black: rgb(37, 37, 37);