body {
  font-family: "BebasNeueRegular";
  font-size: 2rem;
}

.header-block {
  background: #952092;
}

.grid-bar {
  margin: 0 !important;
}

h1 {
  font-family: "BebasNeueRegular";
  color: white;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1;
}

h2 {
  font-family: "BebasNeueRegular";
  color: white;
  font-weight: normal;
  line-height: 1;
  font-size: 2rem;
}

ul.title {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li.title {
  box-sizing: border-box;
}

ul.icons {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li.icons {
  box-sizing: border-box;
}

.icons {
  width: 2rem;
  height: auto;
}

.image-profile {
  float: left;
  width: 11rem;
  height: auto;
  margin: 5px;
}
