body {
  font-family: "BebasNeueRegular";
  font-size: 2rem;
}

.header-block {
	background: #952092;
	overflow: auto;
	/*position: fixed;
	top: 0;
	width: 100%;*/
}

.grid-bar {
	margin: 0 !important;
}

h1 {
  font-family: "BebasNeueRegular";
	color: white;
	font-size: 3rem;
	font-weight: normal;
	line-height: 1;
	padding: 1rem 0 0 0;
}

h2 {
  font-family: "BebasNeueRegular";
	color: white;
	font-weight: normal;
	line-height: 1;
	padding: 0 0 1rem 0;
	font-size: 2rem;
}

.icons {
  width: 2rem;
  height: auto;
	float: right;
}

.icons-middle {
  margin: 2rem 0;
  width: 2rem;
  height: auto;
  float: right;
}

.image-profile {
	float: left;
  width: 13rem;
  height: auto;
	margin: 5px 0;
}
