body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

.header-block {
  background: #952092;
}

.grid-bar {
  margin: 0 !important;
}

h1 {
  font-family: "BebasNeueRegular";
  color: white;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  font-family: "BebasNeueRegular";
  color: white;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
}

h3 {
  font-family: "BebasNeueRegular";
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
}

.title {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
  box-sizing: border-box;
}

.icons {
  margin: 0 1rem 0 1rem;
  width: auto;
  height: 2rem;
}

.image-profile {
  float: left;
  width: 11rem;
  height: auto;
  margin: 5px;
}
